{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- start content -->

            <div class="container">
                    <div class="row">
                        <!-- start Top News -->
                        <div class="col-md-8 col-xs-12 px-0 left_side" >
                            <div class="line"></div>
                            <div class="header"><h3>Top News</h3></div>
                            <div class="row">
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical ">
                                        <img  class="rounded " src="images/top1.jpg">
                                        <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical ">
                                        <img  class="rounded" src="images/top1.jpg">
                                        <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,  
                                        </p>
                                        <a  href="#">More...</a>
                                        
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical ">
                                        <img  class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                        </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end Top News -->
                        <!-- start views more -->
                        <div class="col-md-4 col-xs-12 px-0 right_side" >
                            
                            <div class="line"></div>
                            <div class="header"><h3>Views More</h3></div>
                            
                                <div class="row views_more" id="first">
                                    <div class="col-xs-3 ">
                                        <img class="rounded"  src="images/top1.jpg">
                                    </div>
                                    <div class="col-xs-9 ">
                                        <a  href="#"><span >Lorem ipsum dolor sit amet, consectetur adipisicing .</span></a>
                                    </div>
                                </div>
                                <div class="row views_more" >
                                    <img class="rounded" src="images/top1.jpg">
                                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing .</span></a>                        </div>
                                <div class="row views_more">
                                    <img class="rounded" src="images/top1.jpg">
                                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing .</span></a>                        </div>
                                <div class="row views_more">
                                    <img class="rounded" src="images/top1.jpg">
                                    <a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipisicing .</span></a>                        </div>
                            </div>
                        </div>
                        <!-- end views more -->
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <!-- start yemen news section -->
                        <div class="col-md-8 col-xs-12 px-0 left_side" >
                            <div class="line"></div>
                            <div class="header"><h3>Yemen News</h3></div>
                            <div class="row">
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical ">
                                        <img  class="rounded " src="images/top1.jpg">
                                        <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical ">
                                        <img  class="rounded" src="images/top1.jpg">
                                        <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,  
                                        </p>
                                        <a  href="#">More...</a>
                                        
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical ">
                                        <img  class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                        </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                    <div class="artical  ">
                                        <img class="rounded" src="images/top1.jpg">
                                        <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                            mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                             </p>
                                        <a href="#">More...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end yemen news -->
                        <!-- start video -->
                        <div class="col-md-4 col-xs-12 px-0 right_side">
                            <div class="line"></div>
                            <div class="header">
                                <h3 class="d-inline">Video</h3>
                               <a class="float-right " href="/youtube/list/" class="link-the-page" data-toggle="tooltip" data-placement="top" title="" data-original-title="more"><i class="fa fa-reply"></i></a>      
                                
                            </div>
                            <div class="col-xs-12">
                                    
                                <!--<iframe width="100%" height="450" src="videos/saboha.mp4" frameborder="0" autoplay allowfullscreen></iframe>-->
                                <video autoplay="false" loop allowfullscreen  width="100%" height="400%">
                                    <source src="videos/saboha.mp4" type="video/mp4">
                                </video> 
                                <span>Saboha Dancing</span>
                            </div>
                        </div>        
                        
                        <!-- end video-->
                    </div>
                </div>   
                <!-- start sports -->
                <div class="container">
                    <div class="row">
                            <!-- start sports -->
                            <div class="col-md-8 col-xs-12 px-0 left_side" >
                                <div class="line"></div>
                                <div class="header"><h3>Sports</h3></div>
                                <div class="row">
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical ">
                                            <img  class="rounded " src="images/top1.jpg">
                                            <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                                 </p>
                                            <a href="#">More...</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical ">
                                            <img  class="rounded" src="{% static 'news_app/images/top1.jpg' %}">
                                            <p class="lead ">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,  
                                            </p>
                                            <a  href="#">More...</a>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical ">
                                            <img  class="rounded" src="images/top1.jpg">
                                            <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                            </p>
                                            <a href="#">More...</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical  ">
                                            <img class="rounded" src="images/top1.jpg">
                                            <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                                 </p>
                                            <a href="#">More...</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical  ">
                                            <img class="rounded" src="images/top1.jpg">
                                            <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                                 </p>
                                            <a href="#">More...</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical  ">
                                            <img class="rounded" src="images/top1.jpg">
                                            <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                                 </p>
                                            <a href="#">More...</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical  ">
                                            <img class="rounded" src="images/top1.jpg">
                                            <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                                 </p>
                                            <a href="#">More...</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 content_artical px-1 py-1">
                                        <div class="artical  ">
                                            <img class="rounded" src="images/top1.jpg">
                                            <p class="lead " >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                mollitia ex omnis ab voluptatem veritatis voluptas cumque, optio,
                                                 </p>
                                            <a href="#">More...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end Sports-->
                            <!-- start Services -->
                            <div class="col-md-4 col-xs-12 px-0  right_side" >
                                
                                <div class="line"></div>
                                <div class="header"><h3>Services:Prayer</h3></div>
                                
                                <div class="col-xs-12 ">
                                    
                                    <!-- start payer times -->
                                        <iframe name="pray-time" id="frame" width="300" height="470" style="border: none;" scrolling="no" src="http://tajaribi.com/AzanPrayerTimes/times/6-2n/time.php?cantry=%D8%A7%D9%84%D9%8A%D9%85%D9%86&city=%D8%B9%D8%AF%D9%86"></iframe>     <!-- end payer times -->                               
                                        
                                </div>
                                    
                                       
                            </div>    
                            
                            <!-- end services more -->
                    </div>
                    <!-- end row of sports-->
                </div>
                 <!-- end container -->
                 
                 {% endblock %}
                <!-- end content -->
